/**
 * prism.js default theme for JavaScript, CSS and HTML
 * Based on dabblet (http://dabblet.com)
 * @author Lea Verou
 */

code[class*="language-"],
pre[class*="language-"] {
	color: black;
	background: none;
	text-shadow: 0 1px white;
	font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
	text-align: left;
	white-space: pre;
	word-spacing: normal;
	word-break: normal;
	word-wrap: normal;
	line-height: 1.3;
	font-size: 13px;
	-moz-tab-size: 4;
	-o-tab-size: 4;
	tab-size: 4;
    word-wrap: normal;
    white-space: pre;
	-webkit-hyphens: none;
	-moz-hyphens: none;
	-ms-hyphens: none;
	hyphens: none;
}

pre[class*="language-"]::-moz-selection, pre[class*="language-"] ::-moz-selection,
code[class*="language-"]::-moz-selection, code[class*="language-"] ::-moz-selection {
	text-shadow: none;
	background: #b3d4fc;
}

pre[class*="language-"]::selection, pre[class*="language-"] ::selection,
code[class*="language-"]::selection, code[class*="language-"] ::selection {
	text-shadow: none;
	background: #b3d4fc;
}

@media print {
	code[class*="language-"],
	pre[class*="language-"] {
		text-shadow: none;
	}
}

/* Code blocks */
pre[class*="language-"] {
	padding: 1em;
	margin: .5em 0;
	overflow: auto;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #F0F0F0;
}

/* Inline code */
:not(pre) > code[class*="language-"] {
	padding: .1em;
	border-radius: .3em;
	white-space: normal;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
	color: #969896;
}

.token.punctuation {
	color: #999;
}

.namespace {
	opacity: 1;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
	color: #905;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
	color: #690;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
	color: #a67f59;
	background: hsla(0, 0%, 100%, .5);
}

.token.atrule,
.token.attr-value,
.token.keyword {
	color: #a71d5d;
}

.token.function {
	color: #795da3;
}

.token.regex,
.token.important,
.token.variable {
	color: #e90;
}

.token.important,
.token.bold {
	font-weight: bold;
}
.token.italic {
	font-style: italic;
}

.token.entity {
	cursor: help;
}


p {
	line-height: 1.6;
	word-spacing: 0.05em;
	margin: 1.5em 0;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 1.5em;
	color: #2c3e50;
	margin: 1.5em 0 0;
}

blockquote {
	margin: .8em 0;
    padding: 10.5px 21px;
    font-style: normal;
    font-size: 100%;
    line-height: 22px;
    border-left: 3px solid #D0E5F2;	
    background-color: #EFEFEF;
    color: #696868;
}

blockquote p {
	margin: 5px 0;
	font-size: 13px;
}

blockquote ul {
	margin: 20px 0 0 30px;
}

.content a {
	color: #4db2ec;
}

.content a:hover {
	text-decoration: underline;
}
