@charset: utf-8;

html {
	font-size: 62.5%;
}

/*reset style*/
ul,li,p,h1,h2,h3,h4,h5,h6 {
	margin: 0rem;
	padding: 0rem;
}

h1,h2,h3,h4,h5,h6 {
	font-size: 20px;
}

ul,ol {
	list-style: none;
}

#app {
	font-size: 1.2rem;
}
