@charset: utf-8;

html {
	font-size: 100px;
}

/*reset style*/
body,ol,ul,li,p,h1,h2,h3,h4,h5,h6 {
	margin: 0;
	padding: 0;
}

h1,h2,h3,h4,h5,h6 {
    font-size: 0.16rem;
}

.clearfix:after{
    content: "."; 
    display: block; 
    height: 0; 
    clear: both; 
    visibility: hidden;  
}

.clearfix {
    zoom: 1; 
}

body {
    color: #555;
    font-size: 0.15rem;
    font-family: 'Source Sans Pro', 'Helvetica Neue', Arial, sans-serif;
    word-spacing: 0.05em;
}

a {
    text-decoration: none;
    color: #555;
}

ul,ol {
	list-style: none;
}

/*页面导航条*/

.header {
    position: relative;
    top: 0;
    left: 0;
    padding: 0.15rem 0.6rem;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    z-index: 1;
}

.logo {
    display: inline-block;
}

.logo > img {
    width: 0.4rem;
    height: 0.4rem;
    vertical-align: middle;
}

.logo > span {
    line-height: 0.4rem;
}

.nav {
    position: absolute;
    right: 0.6rem;
    top: 0.15rem;
    font-size: 0.16rem;
}

.nav > ul li{
    float: left;
    height: 0.4rem;
    line-height: 0.4rem;
}

.nav > ul li a {
    display: inline-block;
    padding-left: 0.5rem; 
}

/*移动端导航*/

.mobile-bar {
    position: fixed;
    display: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 40px;
    background-color: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,0.25);
    z-index: 2;
}

.mobile-bar > img , .mobile-bar > a {
    position: absolute;
    top: 10px;
}

.mobile-bar img {
    left: 0.15rem;
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

.mobile-bar a {
    right: 0.15rem;
}

.mobile-bar a i {
    cursor: pointer;
}


/*移动端nav-bar*/
.expand-transition {
    position: relative;
    top: 40px;
    left: 0;
    height: 1.6rem;  
    width: 100%;
    text-indent: 0.15rem;
    background-color: rgba(0,0,0,.2);
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
} 

.expand-transition > li {
    width: 100%;
    height: 0.4rem;
    -moz-transition: all 1s ease;
    -webkit-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

.expand-transition > li > a {
    height: 100%;
    display: block;
    line-height: 0.4rem;
    opacity: 1;
}

.expand-enter , .expand-leave{
    height: 0px;
}

.expand-enter > li , .expand-leave > li{
    height: 0px;
    opacity: 0;
}

#list > li > a:hover {
    background-color: #9E9898;
}


/* 媒体查询 */
@media screen and (min-width: 720px){
    #nav-bar {
        display: none;
    }
}

@media screen and (max-width: 720px){
    .mobile-bar {
        display: block;
    }

    .header {
        display: none;
    }

    #nav-bar {
        display: block;
    }

    #app {
        margin-top: 0.4rem;
    }
}